**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.env
**/.env.*
**/docker-compose*
**/Dockerfile*
**/*.md
**/tests
**/.editorconfig
**/.gitattributes
**/coverage
**/.sonarqube
